@page "/Tecnicos"


<PageTitle>Tecnicos</PageTitle>

<h3>Tecnicos</h3>

<p>Tabla general de Tecnicos</p>
<table> class = "table">
    <thread>  
        <tr>

            <th>Id</th>
            <th>Nombre</th>
            <th>Sueldo por hora</th>
        </tr>    
    </thread>

 <tbody>

        <tr>
            <td>
                1
                Juan perez
                30000
            </td>
        </tr
    </tbody>
</table>
   
<br />
<label>Id</label>
<input type="int"/>
<label>Nombre</label>
<input type="Text"/>
<label>Sueldo por Hora</label>
<input type="int"/>
<br />
<botton> class = "bin-primary"> añadir Tecnico</botton>


@code {

}
